@using TimeTracking.Models

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Moment.js"></script>

<script src="~/Scripts/Knockout/TimeSheet.js"></script>
<style>
    

    .table-fixed tbody {
        height: 230px;
        overflow-y: auto;
    }

    .table-fixed thead, .table-fixed tbody, .table-fixed tr {
        display: block;
    }

       
    .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.428571429;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        color: white;
    }

        .nav-tabs > li > a:hover {
            border-color: #eeeeee #eeeeee #dddddd;
            color: black;
        }
</style>
<div class="container">

    <div class="row" data-bind="visible:HasTime2()!=true">
        <div class="col-sm-12" colspan="8" align="right">
            <button type="button" data-bind="click:saveDraft,disable:isViewOnly()==true || isSubmitted()==true" class="btn btn-default">
                <i class="fa fa-save"></i> Save
            </button>
            <button type="button" data-bind="click:undo,disable:canUndo()!=true" class="btn btn-default">
                <i class="fa fa-undo"></i> Undo
            </button>
            @*<input type="button" value="Save" data-bind="click:saveDraft,disable:isViewOnly()==true" class="btn btn-default" />*@
            @*<input type="button" value="Undo" data-bind="click:undo,disable:canUndo()!=true" class="btn btn-default" />*@
        </div>
    </div>
    <div class="row" data-bind="visible:HasTime2()==true">
        <div class="col-sm-12" colspan="12" align="right">
            <button type="button" data-bind="click:saveDraft,disable:isViewOnly()==true || isSubmitted()==true" class="btn btn-default">
                <i class="fa fa-save"></i> Save
            </button>
            <button type="button" data-bind="click:undo,disable:canUndo()!=true" class="btn btn-default">
                <i class="fa fa-undo"></i> Undo
            </button>
            @*<input type="button" value="Save" data-bind="click:saveDraft,disable:isViewOnly()==true" class="btn btn-default" />*@
            @*<input type="button" value="Undo" data-bind="click:undo,disable:canUndo()!=true" class="btn btn-default" />*@
        </div>
    </div>
    <div class="panel panel-default" style="border:1px solid navy !important;">
        @*<div class="panel-heading" style="border:1px solid navy !important;"><h4>Employee</h4></div>*@
        <div class="panel-body" style="border:1px solid navy !important;padding: 10px !important;">
            <table class="table table-bordered table-responsive">
                @*style="display:none" id="sheet"*@
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Date Selection</th>
                        <th>Backup (Y/N)</th>
                        <th>Live-In (Y/N)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.empName</td>
                        <td>
                            <select class="form-control" name="dateSelected" data-bind="value:dateSelected,options: dateItems,
                       optionsText: 'date',optionsValue: 'date', event:{change:showTime},optionsCaption: 'Select...'"></select>
                        </td>
                        <td>
                            <input type="text" data-bind="value:backup" placeholder="Y/N" class="form-control" />
                        </td>
                        <td>
                            <input type="text" data-bind="value:liveIn" placeholder="Y/N" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class=" table-responsive " style="height:350px;overflow-y:scroll">
                <table class="table table-bordered" data-bind="visble:items.length>0" style="font-size:12px !important;">

                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Service<br />Code</th>
                            <th>Plan<br/>Section</th>
                            <th>Time In</th>
                            <th>AM/PM</th>
                            <th>Time Out</th>
                            <th>AM/PM</th>
                            <!-- ko if: HasTime2 -->
                            <th>Time In</th>
                            <th>AM/PM</th>
                            <th>Time Out</th>
                            <th>AM/PM</th>
                            <!-- /ko -->
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody data-bind="foreach:items">

                        <tr>
                            <td>
                                <label data-bind="text:dayName"></label>
                                <br />
                                <label data-bind="text: dayDate"></label>
                            </td>
                            <td>
                                <select data-bind="value:serviceCodeId,options: $root.serviceCodes,
                       optionsText: 'Name',optionsValue: 'Id',optionsCaption: '.'" style="width:45px"></select>

                            </td>
                            <td>
                                <select data-bind="value:plansectionId,options: $root.PlanSections,
                       optionsText: 'Name',optionsValue: 'Id',optionsCaption: '.'" style="width:40px"></select>
                            </td>
                            <td>
                                <select data-bind="value:TimeInH1" style="display:inline-block;width:40px;">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>

                                </select> :
                                <select data-bind="value:TimeInM1" style="display:inline-block;width:40px;">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    @*<option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>*@
                                </select>
                            </td>
                            <td>
                                <select data-bind="value:isAmIn" style="width:45px">
                                    <option value="-1"></option>
                                    <option value="true">AM</option>
                                    <option value="false">PM</option>
                                </select>
                            </td>
                            <td>
                                <select data-bind="value:TimeOutH1" style="display:inline-block;width:40px;">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>

                                </select> :
                                <select data-bind="value:TimeOutM1" style="display:inline-block;width:40px;">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>

                            </td>
                            <td>
                                <select data-bind="value:isAmOut" style="width:45px">
                                    <option value="-1"></option>
                                    <option value="true">AM</option>
                                    <option value="false">PM</option>
                                </select>
                            </td>
                            <!-- ko if: $root.HasTime2 -->


                            <td>
                                <!-- ko if: Time2 -->
                                <select data-bind="value:TimeIn2H1" style="width: 40px;display:inline-block">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>

                                </select> :
                                <select data-bind="value:TimeIn2M1" style="width: 40px;display:inline-block">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                                <!--/ko-->
                                <!-- ko if: !Time2 -->
                                <select data-bind="value:TimeIn2H1 " style="width: 40px;display:inline-block">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>

                                </select> :
                                <select data-bind="value:TimeIn2M1" style="width: 40px;display:inline-block">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                                <!--/ko-->

                            </td>
                            <td>
                                <select data-bind="value:isAmIn2,visible:Time2" style="width:45px">
                                    <option value="-1"></option>
                                    <option value="true">AM</option>
                                    <option value="false">PM</option>
                                </select>
                            </td>
                            <td>
                                <!-- ko if: Time2 -->
                                <select data-bind="value:TimeOut2H1" style="width: 40px;display:inline-block">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>

                                </select> :
                                <select data-bind="value:TimeOut2M1" style="width: 40px;display:inline-block">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                                <!--/ko-->
                                <!-- ko if: !Time2 -->
                                <select data-bind="value:TimeOut2H1" style="width: 40px;display:inline-block">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>

                                </select> :
                                <select data-bind="value:TimeOut2M1" style="width: 40px;display:inline-block">
                                    <option value="-1"></option>
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                                <!--/ko-->


                            </td>
                            <td>
                                <select data-bind="value:isAmOut2,visible:Time2" style="width:45px">
                                    <option value="-1"></option>
                                    <option value="true">AM</option>
                                    <option value="false">PM</option>
                                </select>
                            </td>
                            <!--/ko-->
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <ul style="list-style:none;padding:0px !important;margin:1px !important;color:navy">
                                            <li>
                                                <a class="dropdown-item" href="#" data-bind="click:$root.moreTime,visible:Time2()!=true" style="color:navy">Add Time</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" data-bind="click:$root.lessTime,visible:Time2()==true" style="color:navy">Delete Time</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" data-bind="click:$root.moreService" style="color:navy">Add Service Code</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" data-bind="click:$root.deleteRow" style="color:navy">Delete Service Code</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                @*<a href="#" data-bind="click:$root.moreTime,visible:Time2()!=true">Add time</a><a href="#" data-bind="click:$root.lessTime,visible:Time2()==true">Delete time</a><br /> <a href="#" data-bind="click:$root.moreService">Add Service Code</a>
                            <br /> <a href="#" data-bind="click:$root.deleteRow">Delete</a>*@
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <br />
            <div class="row" data-bind="visible:HasTime2()!=true">
                <div class="col-sm-12" colspan="8" align="right">
                    <input type="button" value="Submit" data-bind="click:save,disable:isViewOnly()==true || isSubmitted()==true" class="btn btn-default" />
                </div>
            </div>
            <div class="row" data-bind="visible:HasTime2()==true">
                <div class="col-sm-12" colspan="12" align="right">
                    <input type="button" value="Submit" data-bind="click:save,disable:isViewOnly()==true || isSubmitted()==true" class="btn btn-default" />

                </div>
            </div>
            <div id="loading" class="row" align="right" style="margin-right:2px;display:none;"></div>

            <div id="successdiv" style="display:none" class="alert alert-success"></div>
            

            <div id="errorDiv" style="display:none" class="alert alert-danger">
            </div>
        </div>
    </div>

</div>
<div class="modal" tabindex="-1" role="dialog" id="successModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div  class="alert alert-success" id="containerBody"></div>
            </div>
          
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        TimeSheet.load();

    });
</script>

