
@{
    ViewBag.Title = "CrystalReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Transforming data in a meaningful form is a goal for many organizations. We gather; document and verify requirements with an expected outcome for your company. Our analytical skills provide no reason for second guessing the validity of the data. Let our consultants provide that range of look and feel of sophistication which your company needs to get your business noticed.

</p>
<p>
    SDTR Consulting specialize in report and database development.
    This assist clients who not only want to understand the underlining data but present to upper level management a form that is easily conveyed.
    Our Skilled consultants have years of experience within the crystal report, sql server reporting services, and Business Intelligence arena.
    Our reports demonstrate quality presentations giving your company an edge, which is needed in this competitive market.
    SDTR Consulting LLC has performed crystal reports,SSRS, Business Intelligence services for public and private sector clients on several occassions.
    We have created over a thousand reports and with corresponding stored procedures.

</p>
<p>
    Crystal Report Developer - <a href="~/StaticPages/Resume/Sheryl_Richardson.pdf" target="_blank"> see resume</a>
</p>
<p>SQL Reporting Services Developer - <a href="~/StaticPages/Resume/SSRSDeveloper.pdf" target="_blank"> see resume</a>

