
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    SDTR Consulting LLC is a service based company established in 2010. As a Minority/Woman Owned Certified Company based out of Central Florida we have over seventeen years of Information Technology Experience. Supplementing staff can be a challenge today. We are here to lighten that load. SDTR Consulting LLC has a large database of Information Technology Consultants who can provide services for small to large private and public sector clients. Our industry experience is key to filling that void. SDTR Consulting LLC supply entry to architect level consultants exceeding expectations of any project. Our goal is to place the most reliable qualified consultants to accurately complete project without any delays. Some of our consultants consists of but not limited to Software Developers, Software Technicians, IT Project Coordinators/Managers and Report Developers with the following skillsets: Crystal Reports, SQL Server Reporting Services and Business Intelligence Consultants. We have supported over thirty private sectors clients and over twenty-six public sector clients for various municipalities.
</p>

<p>
    Let us complete your next project!!!
</p>
<p>
    contact us at <a href="mailto:srichardson@sdtrconsulting.com">srichardson@sdtrconsulting.com</a>
</p>

