
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
<p>SDTR CONSULTING LLC has the following open positions.</p>
<p>Please send a resume and reference to srichardson@sdtrconsulting.com.</p>
<p>If your skillset matches available position we will be in touch. Thank you!!</p>
</p>
<p>
    <i>
        <center>
            Available Positions
        </center>
    </i>
</p>

<p>Business Analyst- <a href="~/StaticPages/Jobs/Business Analyst.pdf" target="_blank">ERP Business Analyst (Berkley, CA)</a> </p>
<p>Part Time Graphic Artist - <a href="~/StaticPages/Jobs/Graphic Artist.pdf" target="_blank">Graphic Artist (Remote/Orlando, Florida)</a> </p>
<p>HYPERION TECHNICAL SUPPORT SERVICES- <a href="~/StaticPages/Jobs/HYPERION TECHNICAL SUPPORT SERVICES.pdf" target="_blank">HYPERION TECHNICAL SUPPORT SERVICES (Remote/Clearwater, FL)</a> </p>

