
@{
    ViewBag.Title = "QA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Management of a project is key for project success. Without a skilled consultant to take a project from start to finish it will be very difficult to achieve milestones set by the stakeholders.  Project Coordinator or Managers not only keep a project above schedule for completion but help the project run smoothly. SDTR Consulting LLC provide consultants with exceptional longivity record of providing project management or project coordination services to public and private sector clients.

</p>
<p>Project Manager/Coordinator- <a href="~/StaticPages/Resume/Ronald_Richardson.pdf" target="_blank"> see resume</a> </p>

