
@{
    ViewBag.Title = "WMBECertifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    SDTR Consulting LLC is certified from the following agencies and can be utilized towards the public or private sector W/MBE/8a or Total Small Business utilization participation goal.
</p>
<center>


    <p><b><i>Federal</i></b></p>
    <p>Small Business Administration - SBA 8(a) & WOSB - <a href="~/StaticPages/Resume/capabilities statement.pdf" target="_blank">click for capabilities statement</a></p>
    <p><b><i>State</i><b></p>
    <p>Florida Office of Supplier Diversity(OSD) - MWBE</p>
    <p><b><i>Local Government</i></b></p>
    <p>City of Orlando & Tampa - MWBE</p>
    <p>Orange, Osceola, & Hillsborough County Board of County Commissioners - MWBE</p>
    <p>Greater Orlando Airport Authority(GOAA) - MBE</p>
    <p><b><i>Misc</i></b></p>
    <p>Broward Health - MWBE </p>
    <p><b><i>Private - National</i></b></p>
    <p>Women Business Enterprise - WBENC</p>
</center>