body {
    padding-top: 100px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 65px;
    padding-right: 15px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    min-width: 110px;
    font-size: 10px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.nav-tabs > li > a {
    position: relative;
    display: block;
    padding: 2px 5px !important;
}

.nav-tabs > li.tabs > a,
.nav-tabs > li.tabs > a:focus {
    color: white;
    background-color: navy;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}

    .nav-tabs > li.tabs > a:hover {
        color: #FFFFFF;
        background-color: #012f01;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
        font-weight: bold;
    }


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white;
    cursor: default;
    background-color: #012f01;
    font-weight: bold;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/


.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.loginform {
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 450px;
    /*padding: 40px 30px;*/
    text-align: center;
    width: 100%;
    margin-top: 5%;
    align-self: center;
    
}



.navbar-default {
    background-color: #004492;
    border-color: #E7E7E7;
    
}

    .navbar-default .navbar-brand {
        color: #ffffff;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: red;
        }
    /* Link */
    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: red;
        }

    /*.navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #555;
        background-color: #E7E7E7;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #D5D5D5;
    }*/
    /* Caret */
    /*.navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #777;
        border-bottom-color: #777;
    }

    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #333;
        border-bottom-color: #333;
    }

    .navbar-default .navbar-nav > .open > a .caret,
    .navbar-default .navbar-nav > .open > a:hover .caret,
    .navbar-default .navbar-nav > .open > a:focus .caret {
        border-top-color: #555;
        border-bottom-color: #555;
    }*/
    /* Mobile version */
    /*.navbar-default .navbar-toggle {
        border-color: #DDD;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #DDD;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #CCC;
        }*/

/*@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
        }*/
/*}*/



.nav-pills li a {
    color: white;
    display: block;
    text-decoration: none;
}

.nav-pills li a:hover {
    background: rgba(255,255,255,0.25);
    color: white;
    text-decoration: none;
}

.nav-pills li a:active, .nav-pills li a:focus {
    background-color: #004492;
    color: white;
    text-decoration: none;
}
